name: Test - Install Packages
on:
  workflow_call:
  workflow_dispatch:  # to trigger manually

permissions:
  contents: read

jobs:
  numpy:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ '3.14', '3.13', '3.12', '3.11', '3.10' ]
        numpy-version: [ 2.0.2, 2.1.3, 2.2.6, 2.3.5 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install valid package version
        uses: durandtibo/pip-install-package-action@v0.4.1
        with:
          package-name: 'numpy'
          package-version: ${{ matrix.numpy-version }}
          python-version: ${{ matrix.python-version }}

      - name: Install packages
        run: |
          pip install pytest

      - name: Run functional tests
        run: |
          python -m pytest tests/functional


  numpy-poetry:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      max-parallel: 8
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ '3.14', '3.13', '3.12', '3.11', '3.10' ]
        numpy-version: [ 2.0.2, 2.1.3, 2.2.6, 2.3.5 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Set environment variable
        run: |
          echo $(poetry run poetry env info --path)/bin >> $GITHUB_PATH

      - name: Install valid package version
        uses: durandtibo/pip-install-package-action@v0.4.1
        with:
          package-name: 'numpy'
          package-version: ${{ matrix.numpy-version }}
          python-version: ${{ matrix.python-version }}

      - name: Install packages
        run: |
          pip install pytest

      - name: Run functional tests
        run: |
          python -m pytest tests/functional
